<form (submit)="registerUser()" class="register-form">
  <mat-card>
    <mat-card-title>Our fancy registration form</mat-card-title>
    <mat-card-content>
      <p>
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input [(ngModel)]="username" name="username" matInput placeholder="Your fancy-pants username">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input [(ngModel)]="password" name="password" matInput type="password" placeholder="Your very secret password">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width">
          <mat-label>Repeat password</mat-label>
          <input [(ngModel)]="repeatPassword" name="repeatPassword" matInput type="password" placeholder="Just to see if you mistyped something">
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary">Hop onboard</button>
      <a mat-button routerLink="/login">Already have an account? Log in</a>
    </mat-card-actions>
  </mat-card>


</form>
