<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reddit Clone - My Posts</title>
</head>
<body>
  <p><b>Title: </b>{{ post['title'] }}</p>
  <p><b>Content: </b>{{ post['content'] }}</p>
  <p><b>Score: </b>{{ post['score'] }}</p>
  <p><b>Subreddit: </b>{{ post['subredditName'] }}</p>
  <form action="/comments" method="POST">
    <input type="hidden" name="postId" value="{{post['id']}}">
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <button type="submit">Add shitty comment</button>
  </form>
  {% for comment in comments %}
    <p><b>User: </b>{{ comment['author']}}</p>
    <p><b>Their comment: </b>{{ comment['content'] }}</p>
    {% if comment['authorid'] == session['userId']%}
    <button><a href="/comments/{{comment['id']}}/edit"> Make it shittier</a></button>
    <button><a href="/comments/{{comment['id']}}/delete"> Delete this shoit</a></button>
    {% endif %}
  {% endfor %}
</body>
</html>