<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reddit Clone - Edit post</title>
</head>
<body>
  <form action="/posts/{{ post['id'] }}/edit" method="POST">
    <p>
      <label>
        Title:
        <input name="title" placeholder="Chop chop, what's the title of your post?" value="{{ post['title'] }}">
      </label>
    </p>

    <p>
      <label>
        Content:
        <input name="content" placeholder="Here lies your post's content. Make it intriguing!" value="{{ post['title'] }}">
      </label>
    </p>

    <p>
      <button type="submit">Edit this shit</button>
    </p>
  </form>
</body>
</html>