<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reddit Clone - Home</title>
</head>
<body>
  <h1>Hello World</h1>
  <a href='/login'>Login</a>
  <a href='/register'>Register</a>
  {% if session["loggedIn"] %}
    <a href="/posts">Add post</a>
    <a href="/myPosts">My Posts</a>
    <a href="/logout">Log out</a>
    <h1>My Feed</h1>
    {% for post in posts %}
      <p><b>Title: </b>{{ post['title'] }}</p>
      <p><b>Content: </b>{{ post['content'] }}</p>
      <p><b>Score: </b>{{ post['score'] }}</p>
      <p><b>Subreddit: </b>{{ post['subredditName'] }}</p>
      <p><b>Author: </b>{{ post['author'] }}</p>
      <button type="submit"><a href="/posts/{{ post['id'] }}/upvote">Upvote</a></button>
      <button type="submit"><a href="/posts/{{ post['id'] }}/downvote">Downvote</a></button>
      <button type="submit"><a href="/posts/{{ post['id'] }}">Detailed overwiew</a></button>
      <br>
    {% endfor %}
  {% endif %}
</body>
</html>