<form (submit)="logIn()" class="login-form">
  <mat-card>
    <mat-card-title>SignIn, boy!</mat-card-title>
    <mat-card-content>
      <p>
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input [(ngModel)]="username" name="username" matInput placeholder="Your fancy-pants username">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input [(ngModel)]="password" type="password" name="password" matInput placeholder="The secret word">
        </mat-form-field>
      </p>
      <p *ngIf="error">
        {{ error }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary" (click)="redirectToPost()">Get in</button>
      <a mat-button routerLink="/register">Don't have an account? Come onboard</a>
    </mat-card-actions>
  </mat-card>
</form>
